.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
section{
  padding: 0 1rem;
  margin: 1rem;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.example-card {
  width: 18rem;
  display: flex;
  margin: 1rem;
}
.example-card .pointer {
  cursor: pointer;
}
.example-card img{
  width: 100%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.text-center{
  text-align: center;
  margin: 4rem 0;
}


@media (max-width: 600px) {
  .example-card {
    max-width: 100%;
  }
  pagination-controls{
    font-size: smaller;
  }
  .center{
    padding: 0.5rem;

  }
}


